<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }} >
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} >
        <title>Chat link expired</title>
    </head>
    <body>
        <div role="main" class="container">
        {% include 'navbar.html' %}
          <div class="row">
            <h1>Chat linkk expired</h1>
            <h1>Chat linkk expired</h1>
            <h1>Chat linkk expired</h1>
            <h1>Chat link expired</h1>
            <p>This particular chat link has expired. Reupload the chat and generate a new link. Chat links expire every day at midnight.</p>
          </div>
        </div><!-- /.container -->

    <script src={{ url_for('static', filename='js/jquery-3.4.1.min.js') }} ></script>
    <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }} ></script>
    </body>
</html>
